@using Microsoft.Web.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootbusiness | Short description about company">
    <meta name="author" content="Your name">

    <title>@ViewBag.Title - Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Content/themes/default/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/themes/default/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/Content/themes/default/font-awesome.css" rel="stylesheet" />
    <link href="/Content/themes/default/font-awesome-ie7.css" rel="stylesheet" />
    <link href="/Content/themes/default/ngtrade.css" rel="stylesheet" />
    <link href="/Content/themes/base/minified/jquery.ui.autocomplete.min.css" rel="stylesheet" />

    @RenderSection("headscripts", required: false)

</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=185502631637619&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <header>
        <!-- Start: Navigation wrapper -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="@Url.Action("Index", "Home")" class="brand brand-bootbus">
                        <img src="/images/logo.png" alt="NgTradeOnline" />
                    </a>
                    <!-- Below button used for responsive navigation -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Start: Primary navigation -->
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown" data-loggedin="false" style="display: none">
                                <a href="@Url.Action("Index", "Daily")" class="dropdown-toggle" data-toggle="dropdown">Daily price list<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">Daily Price list</li>
                                    <li>@Html.ActionLink("Todays list", "Index", "Daily")</li>
                                    <li>@Html.ActionLink("Day Gainers", "Gainers", "Daily")</li>
                                    <li>@Html.ActionLink("Day Losers", "Losers", "Daily")</li>
                                </ul>
                            </li>
                            <li data-loggedin="false" style="display: none">@Html.ActionLink("Companies", "Companies", "Home")</li>
                            <li data-loggedin="false" style="display: none">@Html.ActionLink("News", "News", "Home")</li>
                            <li data-loggedin="false" style="display: none">@Html.ActionLink("Sign up", "Register", "Account")</li>
                            <li data-loggedin="false" style="display: none">@Html.ActionLink("Sign in", "Login", "Account")</li>
                            <li class="dropdown" data-loggedin="true" style="display: none">
                                <a href="@Url.Action("Index", "Daily")" class="dropdown-toggle" data-toggle="dropdown">Daily price list<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">Daily Price list</li>
                                    <li>@Html.ActionLink("Todays list", "Index", "Daily")</li>
                                    <li>@Html.ActionLink("Day Gainers", "Gainers", "Daily")</li>
                                    <li>@Html.ActionLink("Day Losers", "Losers", "Daily")</li>
                                </ul>
                            </li>
                            <li data-loggedin="true" style="display: none">@Html.ActionLink("Companies", "Companies", "Home")</li>
                            <li data-loggedin="true" style="display: none">@Html.ActionLink("News", "News", "Home")</li>
                            <li data-loggedin="true" style="display: none">@Html.ActionLink("Profile", "Index", "Account")</li>
                            <li data-loggedin="true" style="display: none">@Html.ActionLink("Sign off", "LogOff", "Account")</li>
                            <li>
                                @using (Html.BeginForm("Research", "Home", FormMethod.Post, new { @class = "form-search" }))
                            {
                                <div class="input-append">
                                    <input type="text" id="stockticker" name="stockticker" class="span2 search-query" placeholder="Enter stock name" list="symbols" />
                                    <button type="submit" class="btn">
                                        <i class="icon-search"></i>
                                    </button>
                                    <datalist id="symbols"></datalist>
                                </div>
                        }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
        <!-- End: Navigation wrapper -->
        <br>
        <br>
        <div style="margin:auto;width:50%">
            <div class="alignleft">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_banner_type = "ez";
                    amzn_assoc_p = "48";
                    amzn_assoc_width = "728";
                    amzn_assoc_height = "90";
                    amzn_assoc_tracking_id = "ngtradeonline-20";
                    amzn_assoc_linkid = "6ea374c63dbdbf37fdf13fdc69b8bfaa";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
        </div>
        <br>
        <br>
    </header>

    @RenderBody()


    <footer>
        <div class="container">
            <div class="row">
                <div class="span2">
                    <h4><i class="icon-star icon-white"></i>NSE price list</h4>
                    <nav>
                        <ul class="quick-links">
                            <li>@Html.ActionLink("View Daily price list", "dailypricelist", "Home", new { extension = "html" }, new { target = "_blank" })</li>
                            <li>@Html.ActionLink("Excel download", "dailypricelist", "Home", new { extension = "xls" }, null)</li>
                            <li>@Html.ActionLink("CSV download", "dailypricelist", "Home", new { extension = "txt" }, new { target = "_blank" })</li>
                        </ul>
                    </nav>
                </div>
                <div class="span2">
                    <h4><i class="icon-beaker icon-white"></i>About</h4>
                    <nav>
                        <ul class="quick-links">
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("Leadership", "Leadership", "Home")</li>
                            <li>@Html.ActionLink("Events", "Events", "Home")</li>
                            <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                        </ul>
                    </nav>
                </div>
                <div class="span2">
                    <h4><i class="icon-thumbs-up icon-white"></i>Support</h4>
                    <nav>
                        <ul class="quick-links">
                            <li>@Html.ActionLink("FAQ", "Faq", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </nav>
                    <h4><i class="icon-legal icon-white"></i>Legal</h4>
                    <nav>
                        <ul class="quick-links">
                            <li>@Html.ActionLink("Terms of use", "Terms", "Home")</li>
                            <li>@Html.ActionLink("Privacy policy", "Privacy", "Home")</li>
                        </ul>
                    </nav>
                </div>
                <div class="span3">
                    <h4>Get in touch</h4>
                    <div class="social-icons-row">
                        <a href="https://twitter.com/NgTradeOnline" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="https://www.facebook.com/NgTradeOnlinense" target="_blank"><i class="icon-facebook"></i></a>
                        <a href="mailto:support@ngtradeonline.com"><i class="icon-envelope"></i></a>
                    </div>
                </div>
                <div class="span3">
                    <h4>Get updated by email</h4>
                    <input type="text" placeholder="Email address" name="subscribe" id="subscribe">
                    <input type="submit" class="btn" id="btnSubscribe" value="Subscribe">
                </div>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="container">
            <p>
                &copy; @DateTime.Now.Year NgTradeOnline, Inc. All Rights Reserved.

            </p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
    @Analytics.GetGoogleHtml("UA-15115389-1")
</body>
</html>
