@model NgTrade.Models.ViewModel.AccountViewModel

@{
  ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline Account Profile";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <h4 class="widget-header"><i class="icon-lock"></i>Personal information</h4>
                <div class="widget-body">
                    <div class="center-align">
                        <table class="table">
                            <tr>
                                <td>Name:</td>
                                <td>@Model.FirstName @Model.LastName</td>
                            </tr>
                            <tr>
                                <td>Email address:</td>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>@Model.Address1 @Model.Address2</td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>@Model.City</td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td>@Model.State</td>
                            </tr>
                            <tr>
                                <td>Country
                                <td>@Model.Country</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>@Model.Phone</td>
                            </tr>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="lbx0" class="overlay">
    <button class="closebtn" id="cbtnClose" name="button" type="button" onclick="document.location.href=$('#closeUrl').attr('href')">
        Close<strong>X</strong></button>
    <a id="closeUrl" class="close" href="@Html.AttributeEncode(Url.Action("Index", "Account"))"
            style="display: none;">Close<strong>X</strong></a>
    <div class="lightbox-content">
        @using (Html.BeginForm("UpdatePersonalInfo", "Account", FormMethod.Post, new { id = "frmPersonalInfo" }))
        {
            <div>
                <h2>
                    Edit Contact Information</h2>
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em> First Name:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PersonalInfoViewModel.FirstName)</div>

            <div class="editor-label">
                <label>
                    <em>*</em>Last Name:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PersonalInfoViewModel.LastName)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em> Email:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PersonalInfoViewModel.Email)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em> Address 1:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PersonalInfoViewModel.Address1)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>Address 2:</label></div>            
            <div class="editor-field">
                @Html.EditorFor(m => m.PersonalInfoViewModel.Address2)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>City:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PersonalInfoViewModel.City)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>State:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PersonalInfoViewModel.State)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>Country:</label></div>
            <div class="editor-label">
                @Html.EditorFor(m => m.PersonalInfoViewModel.Country)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>Phone:</label></div>
            <div class="editor-label">
                @Html.EditorFor(m => m.PersonalInfoViewModel.Phone)
            </div>
            <ul>
                <li>
                    <input type="submit" value="Save" id="personalInfoUpdate" class="stockBtn" />
                    <button name="button" id="cbtnCancel" type="button" onclick="document.location.href=$('#cancelUrl').attr('href')">
                        Cancel
                    </button>
                    <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("Myprofile", "Account"))" style="display: none;">
                    </a></li>
            </ul>
        }
    </div>
</div>*@
@*<div id="lbx1" class="overlay">
    <button class="closebtn" id="cbtnClose1" name="button" type="button" onclick="document.location.href=$('#closeUrl').attr('href')">
        Close<strong>X</strong></button>
    <a id="closeUrl1" class="close" href="@Html.AttributeEncode(Url.Action("Myprofile", "Account"))"
            style="display: none;">Close<strong>X</strong></a>
    <div class="lightbox-content">
        <h2>
            Edit Password</h2>
        @using (Html.BeginForm("ChangePassword", "Account"))
        {

            <div class="editor-label">
                @Html.LabelFor(m => m.ChangePasswordModel.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ChangePasswordModel.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ChangePasswordModel.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ChangePasswordModel.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ChangePasswordModel.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ChangePasswordModel.ConfirmPassword)
            </div>
            <p>
                <input type="submit" value="Change Password" class="stockBtn" />
            </p>
        }
    </div>
</div>*@

@*<div id="lbx2" class="overlay">
  <button class="closebtn" id="cbtnClose2" name="button" type="button" onclick="document.location.href=$('#closeUrl').attr('href')">
    Close<strong>X</strong></button>
  <a id="closeUrl2" class="close" href="@Html.AttributeEncode(Url.Action("Index", "Account"))"
     style="display: none;">Close<strong>X</strong></a>
  <div class="lightbox-content">            
    <div class="editor-label">
      <label>
        <em>*</em>Mother maiden name:</label></div>
    <div class="editor-field">
      @*                @Html.EditorFor(m => m.MotherMaiden)*@
    @*</div>
  </div>
</div>*@

@*<div id="lbx3" class="overlay">
    <button class="closebtn" id="cbtnClose3" name="button" type="button" onclick="document.location.href=$('#closeUrl').attr('href')">
        Close<strong>X</strong></button>
    <a id="closeUrl3" class="close" href="@Html.AttributeEncode(Url.Action("Index", "Account"))"
            style="display: none;">Close<strong>X</strong></a>
    <div class="lightbox-content">
        @using (Html.BeginForm("UpdateKinInfo", "Account", FormMethod.Post, new { id = "frmKin" }))
        {
            <div class="headline">
                <h2>
                    Edit Kin Information</h2>
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>Name of Kin:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NextOfKinViewModel.Kin)</div>

            <div class="editor-label">
                <label>
                    <em>*</em>Address:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NextOfKinViewModel.KAddress)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em> City:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NextOfKinViewModel.KCity)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>State:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NextOfKinViewModel.KState)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>Country:</label></div>            
            <div class="editor-field">
                @Html.EditorFor(m => m.NextOfKinViewModel.KCountry)
            </div>
            <div class="editor-label">
                <label>
                    <em>*</em>Phone:</label></div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NextOfKinViewModel.KPhone)
            </div>
            <ul>
                <li>
                    <input type="submit" value="Save" id="nkinUpdate" class="stockBtn" />
                    <button name="button" id="kbtnCancel" type="button" onclick="document.location.href=$('#cancelUrl').attr('href')">
                        Cancel
                    </button>
                    <a id="kcancelUrl" href="@Html.AttributeEncode(Url.Action("Myprofile", "Account"))" style="display: none;">
                    </a></li>
            </ul>
        }
    </div>
</div>*@
