@using System.Globalization
@model NgTrade.Models.ViewModel.AccountViewModel

@{
  ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline Account Profile";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="@Url.Action("Index", "Account")">Personal Info</a></li>
                    <li><a href="@Url.Action("Refer", "Account")">Refer a friend</a></li>
                    <li><a href="@Url.Action("Portfolio", "Account")">Portfolio</a></li>
                    <li><a href="@Url.Action("Trade", "Account")">Trade</a></li>
                </ul>
                <h4 class="widget-header"><i class="icon-lock"></i>Personal information</h4>
                <div class="widget-body">
                    <div class="center-align">
                        <table class="table">
                             <tr>
                                <td>Account balance:</td>
                                <td>@String.Format(CultureInfo.InvariantCulture, "{0,0}", Model.Balance) Naira</td>
                            </tr>
                            <tr>
                                <td>Name:</td>
                                <td>@Model.FirstName @Model.LastName</td>
                            </tr>
                            <tr>
                                <td>Email address:</td>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>@Model.Address1 @Model.Address2</td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>@Model.City</td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td>@Model.State</td>
                            </tr>
                            <tr>
                                <td>Country
                                <td>@Model.Country</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>@Model.Phone</td>
                            </tr>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>