@model NgTrade.Models.LoginModel

@{
  ViewBag.Title = "Log in";
}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
        <h4 class="widget-header"><i class="icon-lock"></i> Sign in to NgTradeOnline</h4>
        <div class="widget-body">
            <div class="center-align">
                @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-signin-signup" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User name", @required = "true" })
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "Password", @required = "true" })
            <div class="remember-me">
                <div class="pull-left">
                    <label class="checkbox" for="RememberMe">
                        <input name="RememberMe" id="RememberMe" type="checkbox"> Remember me
                    </label>
                </div>
                <div class="pull-right">
                    @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")
                </div>
                <div class="clearfix"></div>
            </div>
            <input type="submit" value="Sign in" class="btn btn-success btn-large">
}
                <h4><i class="icon-question-sign"></i> Don't have an account?</h4>
                @Html.ActionLink("Signup for an account", "Register")
                <h4><i class="icon-thumbs-up"></i> Sign in with:</h4>
                @Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })

            </div>
            <div class="alignleft">
                <script type="text/javascript">
                    amzn_assoc_ad_type = "banner";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_placement = "assoc_banner_placement_default";
                    amzn_assoc_campaigns = "outlet";
                    amzn_assoc_banner_type = "category";
                    amzn_assoc_p = "48";
                    amzn_assoc_isresponsive = "false";
                    amzn_assoc_banner_id = "0XPSVQA7R2YZ536BVHG2";
                    amzn_assoc_width = "728";
                    amzn_assoc_height = "90";
                    amzn_assoc_tracking_id = "ngtradeonli05-20";
                    amzn_assoc_linkid = "13cc6b0cbc47bf748b47d72bcc7fe0d2";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}