@model NgTrade.Models.ViewModel.TradeViewModel

@{
    ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline Trade Stock";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <ul class="nav nav-tabs">
                    <li><a href="@Url.Action("Index", "Account")">Personal Info</a></li>
                    <li><a href="@Url.Action("Refer", "Account")">Refer a friend</a></li>
                    <li><a href="@Url.Action("Portfolio", "Account")">Portfolio</a></li>
                    <li class="active"><a href="@Url.Action("Trade", "Account")">Trade</a></li>
                </ul>
                <h4 class="widget-header"><i class="icon-lock"></i>Place Stock Order</h4>
                <div class="widget-body">
                    <div class="center-align">
                        @using (Html.BeginForm("CreateStockOrder", "Account", FormMethod.Post, new { @class = "form-horizontal form-signin-signup" }))
                        {
                            <span style="color:red;">@TempData["ErrorMessage"]</span>
                            <span style="color:green;">@TempData["SuccessMessage"]</span>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

       
                            @Html.LabelFor(m => m.Symbol)
                            @Html.TextBoxFor(m => m.Symbol, new { list = "symbols" })
                            @Html.LabelFor(m => m.Shares)
                            @Html.TextBoxFor(m => m.Shares)
                            @Html.LabelFor(m => m.Action)
                            @Html.DropDownListFor(m => m.Action, Model.ActionsList)
                            @Html.LabelFor(m => m.Price)
                            @Html.TextBoxFor(m => Model.Price, new {disabled="disabled"})
                            <div class="clearfix"></div>
                            <input type="submit" value="Submit Order" class="btn btn-success btn-large" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/trade.js"></script>
}